/* **************** main navigation **************** */

#nav-wrapper {
  z-index: 25;
  background: rgba(255, 255, 255, 1);
  right: 0;
  left: 0;
  padding: 15px 0;
  font-size: 1rem;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  height: auto;
  max-width: 100%;
  z-index:50;

  .navbar {
    height: 100%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar-toggler {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    height: auto;
    border-radius: 0 !important;
    margin: 0;
    width: 75px;
    height: 75px;
    background: rgba(16, 184, 255, 1);
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-toggler:after {
    content: "";
    text-align: left;
  }

  .ttt{
    font-weight:700;
    font-size:1.2rem;

    a, a:visited{
      color: $light_teal;
    }
    a:hover{
      text-decoration:none;
    }
  }
  .speak-to-specialists{
    font-size:0.85rem;
    font-weight:700;
  }

  @media all and (min-width: 575px) {

    .ttt{
      font-size:1.5rem;
    }
    .speak-to-specialists{
      font-size:1.1rem;
    }
  }
}